main {
  background-image: linear-gradient(
    -120deg,
    rgb(8, 123, 143),
    rgb(207, 207, 204)
  );
  height: 95vh;
  text-align: center;
}

.container {
  width: 20em;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  padding-top: 20%;
  color: #ffffff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.shorten {
  height: 3rem;
  border-radius: 4px;
  border: solid 0.8px #1f233e;
  text-align: center;
}
.input {
  width: 80%;
  background-color: rgb(212, 211, 211);
  font-size: 1.3em;
  color: #1f233e;
}

.shorten {
  width: 20%;
  background-color: inherit;
  font-size: 0.8em;
  color: #ffffff;
  margin-left: 3px;
}

.shorten:hover {
  background-color: #1f233e;
  border: solid 0.8px #4a4a4a;
  color: #0087de;
  cursor: pointer;
}

.shorten:active {
  background-color: #ffffff;
  border: solid 0.8px #4a4a4a;
  color: #1f233e;
  cursor: pointer;
}

.response {
  margin: auto;
  margin-top: 1.5em;
  font-size: 1.2em;
  text-align: center;
  color: #ffffff;
}

.resAnswer {
  font-size: 2em;
  color: #1f233e;
}
